body{
	margin: 0
}

.center {
  text-align: center;
}

.ss {
  width: 400px;
  height: 80px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background-color: #75ffac;
  color: #000;
  border-radius:40px;
  font-size: 36px;
  font-weight: 600; 
  position: relative;
  display: inline-block;
}

