*{
  margin : 0;
  padding : 0;
}

body {
		margin:0;
		padding:0;
        justify-content: center;
        width: 100%;
        font-family: 'Poppins', sans-serif;
        overflow: scroll;
    }

h1{
  text-align : center;
  line-height : 100vh;
  color : white;
  font-size : 70px;
}

p{
  text-align : center;
  font-size : 32px;
  font-weight: 600;
  color: #003555;
  margin-bottom: 30px;
}
	#goingTop {
    position: fixed;
    right: 5%;
    bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    background-image: linear-gradient(315deg, #003555, #003555);
    color: #ffffff;
    font-size: 40px;
    box-shadow: 8px 8px 12px #cccccc;
    cursor: pointer;
}
	#goingTop:hover{
     background-color: #003555;
	 scale: 110%;
     transition: all 0.3s;
}



	.intro {
		height : 100vh;
		width: auto;
	}

	.inner_body{
        display: flex;
		text-align: center;
        justify-content: center;
        font-family: 'Poppins', sans-serif;
		background-color: #fff;
    }

    .menu_container {
        background-color: #fff;
        border-bottom-width: 100%;
        margin: 5%;
    }

    .menu_header {
	    margin: 0 0 5% 0;
    }

	.menu_list {
		width: 100%;
		height: 720px;
		margin: 0 0 0 2%;
	}

    .menu_button_area {
	    width: 100%;
    }

	.menu_list ul li {
		list-style: none;
		float:left;
		display: grid;
        width: 23%;
        margin: 0.5%;
        padding: 1%;
        box-sizing: border-box;
		flex-wrap: wrap;
		box-shadow: 0 2px 4px rgba(0,0,0,0), 0 4px 6px rgba(0,0,0,0.15);
  		transition: all 0.5s cubic-bezier(.25,.8,.25,1);
		
    }

	.menu_list ul li:hover {
  		box-shadow: 0 15px 30px rgba(0,0,0,0.0), 0 12px 9px rgba(0,0,0,0.24);
	}

    .menu_button_area ul {
        display: flex;
        width: 100%;
        margin: 0;
        padding: 0 20px;
        box-sizing: border-box;
        flex-wrap: wrap;
    }
    
    .menu_button_area {
        margin: auto;
    }

    .menu_button_area ul{
        display: flex;
        justify-content: center;
		margin-bottom: 50px;
    }

    .menu_button_area ul li {
        list-style: none;
        margin: 0 5px 15px 0px;
    }

    .menu_button_area ul li button {
        background-color: transparent;
        border: none;
        background: #E8F4FA;
		color: #555;
		margin: 0 10px 0 10px;
		font-weight: 500;
        padding: 20px 60px;
        border-radius: 100px;
    }

    .menu_button_area ul li button:hover {
        background-color: transparent;
        border: none;
        background: #B0E5FF;
		color: #003555;
		margin: 0 10px 0 10px;
		font-weight: 600;
        padding: 20px 60px;
        border-radius: 100px;
    }

    .menu_button_area ul li button.active {
        background: #003555;
        color: #fff;
		font-weight: 600;
    }

	@media screen and (max-width: 1300px) {
		
		.intro{
		display: none;
		
	}
		.intro_m{
		height : 100%;
 	    margin: auto;
	    align-self: center;
		
	}
		
 	   .menu_list ul li {
 	 	list-style: none;
		float:left;
		display: flex;
		justify-content: center;
        width: 45%;
        margin: 2%;
        padding: 1%;
        box-sizing: border-box;
		flex-wrap: wrap;
		box-shadow: 0 2px 4px rgba(0,0,0,0), 0 4px 6px rgba(0,0,0,0.15);
  		transition: all 0.5s cubic-bezier(.25,.8,.25,1);
	}
		
		.menu_button_area ul li button {
        background-color: transparent;
        border: none;
        background: #E8F4FA;
		color: #555;
		font-weight: 400;
        padding: 15px 30px;
        border-radius: 30px;
    }  

		    .menu_button_area ul li button:hover {
        background-color: transparent;
        border: none;
        background: #B0E5FF;
	color: #003555;
	margin: 0 10px 0 10px;
	font-weight: 400;
        padding: 15px 30px;
        border-radius: 30px;
    }
		#goingTop {
    position: fixed;
    right: 5%;
    bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-image: linear-gradient(315deg, #003555, #003555);
    color: #ffffff;
    font-size: 25px;
    box-shadow: 8px 8px 12px #cccccc;
    cursor: pointer;
}
		
  }

@media screen and (min-width: 1300px) {
 	   .intro_m{
	   display: none;
	}
	   .intro{
	   height : 100%;
 	   margin: auto;
	   align-self: center;
	}
	
}
